body{
    text-align: center;
}
#school{
    width: 100%;
}
.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.movie_head i{
    float:right;
}
.movie_text span{
    color: orange;
}
.new_li{
    margin-top: 13 px;
    }
.new_li h4{
    border-bottom: 1px solid white ;
    padding: 8 px;
}
.new_li p{
    font-size: 20px;
    font-family:sans-serif;
}